/* scrollbars */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: none;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    background-color: var(--gray4);
    background-clip: padding-box;
}

::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-thumb:vertical {
    border-left: 0;
    border-radius: 6px 7px 7px 6px;
}

::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-thumb:horizontal {
    border-top: 0;
    border-radius: 6px 6px 7px 7px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray8);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray10);
}

::-webkit-scrollbar-corner {
    border: 2px solid var(--gray4);
    border-radius: 8px;
    background-color: var(--gray4);
    background-clip: padding-box;
}